{% block ateliers %}
    <section id="ateliers" >
            <h3>Ateliers</h3>
            <div class="container">
                <div class='row align-items-start gx-3'>
                    {% for atelier in ateliers %}
                        <div class='col col-sm-4 gy-3'>
                            <h4>{{atelier.id}} {{ atelier.libelle }}</h4>
                            {% for theme in atelier.themes%}
                                <div>
                                    {{ theme.libelle }}
                                </div>
                            {%  endfor %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>
{%  endblock %}