{%  block hebergement %}
    <section id="hebergement">
        <div class='container'>
            <div class="row align-items-start">
                <h3>Hébergement</h3>
                {% for hotel in hotels %}
                    <div class="hotel-card col col-sm-6">
                        <h5>{{ hotel.pnom }}</h5>
                        {% if chambresEtTarifs[hotel.id] is defined %}
                            {% for tarifInfo in chambresEtTarifs[hotel.id] %}
                                <div class="categorie-chambre">
                                    <h6>{{ tarifInfo.libelleCategorie }}</h6>
                                    <p>Tarif: {{ tarifInfo.tarifNuite }} € par nuit</p>
                                </div>
                            {% endfor %}
                        {% else %}
                            <p>Aucune information sur les chambres et tarifs disponible pour cet hôtel.</p>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{%  endblock %}