/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 15 févr. 2024, 11:59:55
    Author     : Thomas
*/
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    /*width:100vw;*/
    font-size:0.8em !important;
    
}

h3{
    text-align: center;
    /*margin-bottom:3% !important;*/
}
header {
    background-color: #005792;
    color: #ffffff;
    padding: 2vh 3vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header img {
    width: 7em;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    margin: 0;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
}

nav ul li a:hover {
    color: #ffdd00;
}

section:not(#congres) {
    margin:3vh;
    padding: 3vh;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
}

.atelier, .hebergement {
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.atelier:hover, .hebergement:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

h2 {
    color: #005792;
    /*color:#5B6FD9;*/
    margin-bottom: 15px;
}

footer {
    background-color: #005792;
    color: #ffffff;
    text-align: center;
    padding: 20px;
    position: relative;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 0;
}

/* Responsive design adjustments */
@media (max-width: 768px) {
    header {
        flex-direction: column;
    }

    nav ul {
        margin-top: 20px;
    }

    nav ul li {
        margin: 0 10px;
    }
}

#banniere{
    width:100vw;
    margin:0;
    /*filter: grayscale(30%);*/
    filter : brightness(50%);
    filter:contrast(70%);
}
.cover {
  object-fit: cover;
  width: 100vw;
  height: 45em;
}

/* Container holding the image and the text */
.container-img {
  position: relative;
  text-align: center;
  background-color:transparent;
}

/* Top right text */
.top-right {
  position: absolute;
  top: 8px;
  right: 16px;
    background-color:transparent;
    /*color:#B4C5E4;*/
    color: #D9D59A;
    margin:3%
}

/*#inscription{
    width:40vw;
}*/

.container{
    width:100%;
}

.form-control{
    border:1px solid lightgray !important;
    box-shadow:5px 5px 5px lightgray;
}

button{
    border-radius:5px !important;
    padding: 0.3rem;
    border: 0px solid #005792 !important;
    background-color: #005792;
    color:white;
    width:min-content !important;
    box-shadow:5px 5px 5px lightgray;
}
button:hover{
    background-color: #80ABC9;
    color:#005792;
    box-shadow:0px 0px 0px lightgray;
}


.formulaire{
    display:flex;
    flex-direction:column;
    gap:1rem;
    justify-content:center;
}