{% extends 'base.html.twig' %}


{% block title %}
    Ajouter une activité
{% endblock %}

 
{% block body %}
    {% block header %}
        {% include('header.html.twig') %}
    {%  endblock %}
    <div class="container">
        <h1 class="my-5">Ajouter une activité</h1>

        {{ form_start(form) }}

        <div class="my-custom-class-for-errors">
            {{ form_errors(form) }}
        </div>

        <div class="row ">
            <div class="col-md-6">
                <div class="form-group">
                    {{ form_row(form.activity, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
        </div>

        <div class="form-group">
            <input type="submit" value="Valider" class="btn btn-primary">
        </div>

        {{ form_end(form) }}
    </div>
{% endblock %}
